.header {
    background: #e1e8f0;
    color: black;
    margin-bottom: 4.8rem;
    padding: 1.6rem 0;  //0 is left and right 1.6 is top and bottom

    //although you CAN nest a child style inside here, it is poor practice
}

//BEM block naming convention below is the title belonging to the above header
.header__title {
    font-size: 3.2rem;
    margin: 0; //margin of 0 all around
}

.header__subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}